<!-- <h1>hey</h1>
<app-login></app-login> -->

<!-- <button (click)="getData('hello')">CLICK ME</button> -->
<!-- <br><br> -->
<!-- <input type="text" #id (keyup)="getData(id.value)">
<br><br>
<input type="text" #id1 (keydown)="getData(id1.value)">
<br><br>
<input type="text" #id2 (blur)="getData(id2.value)">
<br><br>
<input type="text" #id3 (input)="getData(id3.value)"> -->

<!-- <h1 ><button (click)="count('add')">+</button></h1>
<p style="color: aqua;">{{counter}}</p>
<h2><button (click)="count('minus')">-</button></h2> -->

<!-- ***************************PROPERTY BINDING ************************** -->
<!-- <input type="text" name="user-name" value="{{name}}" disabled={{disable}}>
<br><br>
    <input type="text" name="user-name" value=name [disabled]="disable">
<br><br>
<button (click)="toggle()">TOGGLE</button> -->


<!-- ******************************** -->
<!-- <div *ngIf="show else elseB">
    <h4>Hello</h4>
</div>

<ng-template #elseB>
    <h3>HEYY</h3>
</ng-template> -->
<!-- <h2>SWITCH</h2>

<div [ngSwitch]="color">
    <h4 *ngSwitchCase="'red'" style="color: red;">RED</h4>
    <h4 *ngSwitchCase="'green'" style="color: green;">GREEN</h4>
    <h4 *ngSwitchCase="'blue'" style="color: blue;">BLUE</h4>
    <h4 *ngSwitchCase="'yellow'" style="color: yellow;">YELLOW</h4>
</div> -->

<!-- ********************** ngFor ********************* -->
<!-- <h3 *ngFor="let item of users">
    {{item}}
</h3> -->

<!-- <ul *ngFor="let user of users">
    <li>{{user.name}}</li>
    <li>{{user.lastName}}</li>
    <li>{{user.number}}</li>
    <li>{{user.age}}</li>
    <ul *ngFor="let socials of user.social">
        <li>{{socials}}</li>
    </ul>
</ul> -->

<!-- ******************** STYLE BINDING ************************* -->
<!-- <h2 [style.color] ="color" [style.backgroundColor]="bgColor">HEY</h2>
<button (click)="toggle()">TOGGLE</button> -->





<!-- ***************************** FORMS ***************************** -->
<!-- <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter User Name"><br><br>
    <input type="text" ngModel name="email" placeholder="Enter User Email"><br><br>
    <input type="text" ngModel name="password" placeholder="Enter User Password"><br><br>
    <button>Register</button>
</form>


<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul> -->


<!--  *************************  TOGGLE  *****************************-->
<!-- <h1 *ngIf="disable">
    hey
</h1>

<button (click)="toggle()">TOGGLE</button> -->


<!-- ************************* -->
<!-- <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div> -->

<!-- <h2>TO - DO LIST</h2>

<input type="text" placeholder="Enter Something" #text1>
<br><br>
<button (click)="addTask(text1.value)">Add</button>

<ul *ngFor="let item of list">
    <li>{{item.name}} <button (click)="removeTask(item.id)">X</button></li>   
</ul> -->

<!--  PARENT TO CHILD / VICE VERSA-->
<!-- <app-child [item] = "data"></app-child>
<br><br>
<button (click)="update()">Update</button> -->


<!-- Child to Parent -->
<!-- <ul *ngFor="let user of userDetails">
    <app-user-details [item]='user'></app-user-details>
</ul> -->


<!-- ************************ Parent to Child *************************** -->
<!-- {{data}} <br><br>
<app-parent-to-child (updateEventEmitter1)="updateData($event)"></app-parent-to-child> -->

<!-- *********************** TWO WAY BINDING *********************** -->
<!-- 
<h2>{{item}}</h2>
<br><br>

<input type="text" [(ngModel)]="item"> -->


<!-- ******************** PIPES ******************* -->
<!-- <h1>{{ title | uppercase}}</h1>
<h1>{{ capString(title)}}</h1>

<h2>{{today | date : 'fullDate'}}</h2>

<h4>{{ user | json | uppercase}}</h4>

<h3>{{ num | number : '3.2-5'}}</h3>

<h3>{{ 2345 | currency:'INR'}}</h3> -->

<!-- <h1>Forms</h1> -->

<!-- ***************** TEMPLATE DRIVEN FORMS ****************** -->
<!-- <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
  <input 
    type="text" 
    placeholder="Enter Name" 
    name="name" 
    ngModel
  >

  <br><br>

  <input 
    type="password" 
    placeholder="Enter Password" 
    name="password" 
    ngModel
  >
  <br><br>
  <button>Login</button>
</form> -->


<!-- ******************** REACTIVE FORMS ***************** -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
  <input 
    type="text" 
    placeholder="Enter Name" 
    name="name" 
    formControlName="name"
  >
  <div *ngIf="name && name.invalid && name.touched"
    >
    <p style="color: red;">This field is required</p>
  </div>
  <br><br>

  <input 
    type="password" 
    placeholder="Enter Password" 
    name="password" 
    formControlName="password" 
  >
  <div *ngIf="password && password.invalid && password.touched"
    >
    <p style="color: red;">This field is required</p>
  </div>
  <br><br>
  <button>Login</button>
</form> -->

<!-- <h1>ROUTING</h1>

<br>

<a routerLink="">Home</a><br>
<a routerLink="about">About</a><br>
<a routerLink="user">User</a>


<br><br>

<a routerLink="user/20">Anil</a> <br>
<a routerLink="user/30">Sam</a><br>
<a routerLink="user/40">Bhaskar</a>
<router-outlet></router-outlet> -->

<!-- Observables --
A sequence of items that arrive asynchronously over time.
HTTP call - single item.
Single item - HTTP response. -->

<!-- HTTP, Observables and RxJS
1- HTTP Get request from EmpService.
2- Receive the observable and cast it into an employee array.
3- Subscribe to the observable from EmpList and EmpDetail.
4- Assign the employee array to a local variable. -->


<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details>
<app-placeholder></app-placeholder>
<app-footer></app-footer>